/* You can add global styles to this file, and also import other style files */

@import './styling/vars';
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */

.spinner {
    color: $brand-color;
    display: inline;
    text-align: center;
}