<form *ngIf="showForm" class="form">
    <label class="form__label">Nombre de usuario</label>
    <input name="username" class="form__input js-name" type="text" #username>
    <label class="form__label">Nombre de repositorio</label>
    <input name="reponame" class="form__input js-repo" type="text" #reponame>
    <button type="button" class="form__button js-btn2" (click)="search(username.value, reponame.value)">Buscar</button>
</form>
<app-loading *ngIf="loading"></app-loading>
<div class="gridResult js-result2">
    <app-result [issue]="issue" *ngFor="let issue of issues | paginate: { itemsPerPage: 9, currentPage: p } "></app-result>
</div>
<pagination-controls class="controllerPage" (pageChange)="p = $event" *ngIf="showPage"></pagination-controls>