<form *ngIf="showForm" class="form">
    <label class="form__label">Username/reponame</label>
    <input name="username" class="form__input js-name" type="text" #username>
    <!-- <label class="form__label">Nombre de repositorio</label>
    <input name="reponame" class="form__input js-repo" type="text" #repoInput> -->
    <button type="button" class="form__button js-btn2" (click)="search(username.value)">Buscar</button>
</form>
<ngx-spinner></ngx-spinner>
<div class="gridResult js-result2">
    <div *ngFor="let issue of issues | paginate: {itemsPerPage: 6, currentPage: pageActual}" class="card" style="width: 18rem;">
        <img src={{issue.user.avatar_url}} class="card-img-top" alt="Author-image">
        <div class="card-body">
            <h5 class="card-title">Title: {{issue.title}}</h5>
            <p class="card-text">Author: {{issue.user.login}}</p>
            <p class="card-text">State: {{issue.state}}</p>
            <p class="card-text">Description: {{issue.body}}</p>
            <p class="card-text">Created at: {{issue.created_at}}</p>
            <a class="btn btn-primary" href={{issue.html_url}} target="_blank">Link to issue </a>
        </div>
    </div>

</div>
<pagination-controls class="pagination" *ngIf="showPagination" (pageChange)="pageActual = $event"></pagination-controls>